@import 'assets/styles/mixins';
@import 'assets/styles/colors';

.wrapper{
  display: grid;
  grid-template-columns: repeat(4, [col] 1fr);
  grid-template-rows: repeat(2, [row] 1fr);
  grid-gap: 20px 15px;
  margin-top: 150px;
  //grid-column-gap: 20px;
  //grid-row-gap: 40px;
}