@import 'assets/styles/mixins';
@import 'assets/styles/colors';

.wrapper {

  .heading {
    @include displayFlex(center, center);

    .badge {
      margin-right: 10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      @include displayFlex(center, center);
      background-color: $red;
      font-size: 10px;
      color: $white;
      padding: 2px;
    }

    .basket {
      letter-spacing: 3px;
      font-weight: bold;
    }
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;

    .title{
      position: absolute;
      top: 10px;
      left: 10px;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 20px;
    }

    .closedButton {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: 1px solid transparent;;
      font-size: 16px;
      cursor: pointer;
      opacity: 0.4;
      &:hover{
        border: 1px solid black;
        border-radius: 5px;
        opacity: 1;
      }
    }
    .products{
      margin-top: 50px;
      width: 100%;
      height: 100%;
    }

    .total-amount {
      position: absolute;
      bottom: 0;
      @include displayFlex(center, center);
      flex-direction: column;
      width: 300px;
      margin: 20px auto;
      font-size: 20px;
    > div:first-child {
      color: $gray;
      font-weight: lighter;
    } > div:last-child {
      font-weight: bold;
    }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

    .closed {
      transform: translateX(100%);
    }
  }

}
