@import 'assets/styles/mixins';
@import 'assets/styles/colors';

.wrapper{

 .heading{
   @include displayFlex(center, center);
   .badge{
     margin-right: 10px;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     @include displayFlex(center, center);
     background-color: $red;
     font-size: 10px;
     color: $white;
     padding: 2px;
   }
   .basket{
     letter-spacing: 3px;
     font-weight: bold;
   }
 }
  .menu{

  }
}
