@import 'assets/styles/mixins';
@import 'assets/styles/colors';

.wrapper {
  @include displayFlex(center, center);
  width: 220px;
  height: 350px;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 20px;
  background-color: $gray;
  padding: 20px;

  .image {
    margin-top: -10px;
  }

  .header {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    color: black;
    margin-top: 10px;
    height: 2.2em;
    >div{
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .description {
    margin-top: 10px;
    opacity: 0.9;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.selected{
  @include displayFlex(center, center);
  width: 220px;
  height: 300px;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 20px;
  background-color: $light-green;
  padding: 20px;
  box-shadow: 5px 5px 10px $black;

  .imageActive {
    margin-top: -150px;
  }
  .active {
    font-size: 40px;
    font-weight: bold;
    line-height: 44px;
    color: white;
    margin-top: 30px;
    height: 2.2em;
    >div{
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .openButton{
    margin-top: 30px;
    width: 150px;
    height: 30px;
    border-radius: 20px;
  }
}